body {
    text-align: center;
}

.button {
    cursor: pointer;
    background-color: #c4edb8;
    width: 200px;
    text-align: center;
}

.button:hover {
    background-color: #8aed7e;
}

#GameMenu > * {
    margin: auto;
}

#SizeContainer {
    margin-top: 10px;
}
